<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title align="center">
            Financeiro Fácil
        </ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary" align="center">
        <ion-grid>
            <ion-row>
                <ion-col align="center">
                    <ion-col>
                        <ion-title>
                            <ion-datetime (ionChange)="selecionarMes()" monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" [(ngModel)]="mesAtual" cancelText="Cancelar" doneText="Ok" max="2050-12-09" displayFormat="MMMM/YYYY"
                                placeholder="Selecione uma Data"></ion-datetime>
                        </ion-title>
                    </ion-col>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar color="light" text-center>
            <div align="center">
                <ion-text>

                    <h2>
                        Saldo do mês
                    </h2>
                </ion-text>
                <ion-text>

                    <h3>
                        R$ {{ saldoMes }}
                    </h3>

                </ion-text>
            </div>
        </ion-toolbar>
    </ion-header>

    <ion-card color="success" (click)="chamarRecebidos()">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h2>
                            Recebidos
                        </h2>
                    </ion-col>
                    <ion-col>
                        <h2>
                            R$ {{ valorRecebido }}
                        </h2>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card color="danger" (click)="chamarDespesas()">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h3>
                            Despesas
                        </h3>
                    </ion-col>
                    <ion-col>
                        <h2>
                            R$ {{ valorDespesa }}
                        </h2>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>


    </ion-card>


    <div id="map" style="width:100%; height:60%"> </div>
  <h1></h1>
</ion-content>
