<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title align="center">
            Financeiro Fácil
        </ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary" align="center">
        <ion-grid>
            <ion-row>
                <ion-col align="center">

                    <ion-icon name="chevron-back-outline"></ion-icon>

                </ion-col>

                <ion-col align="center">

                    <ion-title>
                        Fevereiro 2021
                    </ion-title>

                </ion-col>

                <ion-col align="center">

                    <ion-icon name="chevron-forward-outline"></ion-icon>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar color="light" text-center>
            <div align="center">
                <ion-text>

                    <h2>
                        Saldo do mês
                    </h2>
                </ion-text>
                <ion-text>

                    <h3>
                        R$ {{ saldoMes }}
                    </h3>

                </ion-text>
            </div>
        </ion-toolbar>
    </ion-header>

    <ion-card color="success" (click)="chamarRecebidos()">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h2>
                            Recebidos
                        </h2>
                    </ion-col>
                    <ion-col>
                        <h2>
                            R$ {{ valorRecebido }}
                        </h2>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card color="danger" (click)="chamarDespesas()">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h3>
                            Despesas
                        </h3>
                    </ion-col>
                    <ion-col>
                        <h2>
                            R$ {{ valorDespesa }}
                        </h2>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>