<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Financeiro Fácil
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <center>
            <ion-icon name="chevron-back-outline"></ion-icon>
          </center>
        </ion-col>
        <ion-col>
          <ion-col>
            <center>
          <ion-title>
            Fevereiro 2021
          </ion-title>
        </center>
        </ion-col>
        </ion-col>
        <ion-col>
          <center>
          <ion-icon name="chevron-forward-outline"></ion-icon>
            </center>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar color="light">
      <ion-text>
        <center>
          <h2>
            Saldo do mês
          </h2>
        </center>
      </ion-text>
      <ion-text>
        <center>
          <h3>
           R$ 200,00
          </h3>
        </center>
      </ion-text>
    </ion-toolbar>
  </ion-header>

  <ion-card color="success" (click)="chamarRecebidos()">
    <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>
                Recebidos
              </h2>
            </ion-col>
            <ion-col>
              <h2>
                R$ 200,00
              </h2>
             </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3>
                A receber
              </h3>
            </ion-col>
            <ion-col>
              <h2>
                R$ 100,00
              </h2>
             </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="danger" (click)="chamarDespesas()">
    <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h3>
                Despesas
              </h3>
            </ion-col>
            <ion-col>
              <h2>
                R$ 100,00
              </h2>
             </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3>
                A Pagar
              </h3>
            </ion-col>
            <ion-col>
              <h2>
                R$ 0,00
              </h2>
             </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
